@model Tuple<string,IEnumerable<string>>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post" action="/exam/save">
        @foreach (var e in Model.Item2)
        {

            <input type="text" name="@(e)" value="@e">
            <br/>
        }
        <input type="submit" value="Сохранить"/>
    </form>
</div>
</body>
</html>